a{
    color: white;
    text-decoration: none;
}

.News {
    
    height: 450px;
    max-width: 350px;
    padding: 20px;
    border: 1px solid #26d5ec;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;

}

.News:hover {
    background-color: #26d5ec;
}

.NewsImage{
    max-width: 345px;
    max-height: 240px;
    background-color: #26d5ec;
    margin-top: 5px;
}


